* {
    margin: 0;
    padding: 0;
}
.paras{
    width: 80vh;
    box-shadow: 0 0px 2rem 0.5rem rgba(72, 235, 107, 0.7);
    padding-top: 200px;
}
.background {
    background: rgba(0, 0, 0, 0.7) url('https://images.unsplash.com/photo-1496080174650-637e3f22fa03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=819&q=80');
    background-size: cover;
    background-blend-mode: darken;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.header-founder-img:hover{
    
    box-shadow: 0 0px 2rem 0.5rem rgba(222, 247, 2, 0.7);
}
.header-founder-img{
    margin-top: 30px;
    border-radius: 50%;
    margin: auto;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-founder-img img{
    box-shadow: 0 0px 2rem 1rem rgba(251, 255, 12, 0.7);
    width: 100%;
    /* max-width: 150px; */
    height: 100%;
    max-height: 150px;
    border-radius: 50%;
}
.founderPhotosSection{
    background: url('https://images.pexels.com/photos/1040499/pexels-photo-1040499.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}
.founderPhotosBox{
    width: 90%;
    margin: auto;
    
}
.founderPhotosBox h2{
    text-shadow: 1px 1px rgba(17, 177, 252, 0.7);
    padding: 50px 0 ;
    color: rgb(43, 199, 238);
    text-align: center;
}
.founder-images-flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.founder-images-flex-box img{
    border-radius: 10px;
    box-shadow: 0 0px 2rem 1rem rgba(72, 170, 235, 0.7);
    max-width: 350px;
    /* max-height: 30%; */
    margin: 20px;
}
.founder-images-flex-box-image-container img{
    height: 200px;
}
.founder-images-flex-box-image-container:hover{
    max-height: 20%;
    border-radius: 20px;
    width: max-content;
    box-shadow: 0 0px 2rem 1rem rgb(72, 170, 235, 0.7);;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    height: 5vh;
    border-bottom: 3px solid transparent;
    overflow: hidden;
}

.leftnav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 5%;
}

.navlist {
    display: flex;
    justify-content: center;
}

.navlist li {
    list-style: none;
    padding: 0px 10px 0px 10px;
    background: transparent;
}

.navlist li a {
    background-color: whtie;
    text-decoration: none;
    color: white;
}

.navlist li a:hover {
    font-size: 20px;
    color: rgb(191, 216, 78);
}

.rightnav {
    width: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    padding: 3px;
    text-indent: 10px;
}

.button-search {
    background: url('/images/photo\ 4.jpg');
    color: white;
    font-weight: bold;
    padding: 3px;
    border-bottom-right-radius: 9px;
}

.header-post {
    color: white;
    max-width: 100%;
    height: 100vh;
}

.text-big {
    font-size: 25px;
    padding-top: 90px;
    font-family: comic sans ms;
}

.founder-e-mail {
    color: white;
    text-decoration: none;
}

.founder-e-mail:hover {
    font-size: 22px;
}

.founder-info-details {
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
    font-size: large;
    font-weight: 600;
    word-spacing: 2px;
    line-height: 30px;
}

.text-small {
    padding-bottom: 20px;
}

.footer {
    background: rgba(0, 0, 0, 0.7) url('../images/photo\ 7.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

#contact {
    text-align: center;
    padding: 50px 0px 20px 0px;
    color: white;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact-us-input {
    height: 30px;
    width: 600px;
    border-radius: 4px;
    text-indent: 15px;
    font-size: 18px;
}

.contact-us-username-e-mail {
    color: whtie;
    font-size: 25px;
    padding: 20px 0px 20px 0px;
}

#comment {
    height: 80px;
    width: 600px;
    text-indent: 15px;
    border-radius: 4px;
    padding: 10px 0px 20px 0px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.button-for-contact-us {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.submit-button {
    background: url('../images/photo\ 4.jpg');
    height: 40px;
    width: 200px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.footer-copyright-credit a {
    color: white;
    text-decoration: none;
}

.footer-copyright-credit a:hover {
    font-size: 18px;
}

@media only screen and (max-width: 1140px) {
    .navbar {
        height: 20vh;
        padding: 10px;
        flex-direction: column;
    }
    .leftnav {
        width: 10%;
        padding: 20px 0px 20px 0px;
        font-size: 14px;
    }
    .logo {
        display: flex;
        padding-bottom: 10px;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
    .navlist ul {
        overflow: hidden;
    }
    .navlist li {
        display: inline-block;
        margin: 0 0px;
        list-style: none;
        background: transparent;
    }
    .v-class-resp {
        opacity: 0;
    }
    .rightnav {
        text-align: center;
    }
    .search {
        padding: 10px;
        font-weight: bold;
        border-radius: 4px;
        width: 330px;
    }
    .button-search {
        background: url('/images/photo\ 4.jpg');
        color: white;
        font-weight: bold;
        padding: 10px;
        border-bottom-right-radius: 9px;
    }
    .header-post {
        color: white;
        height: 100vh;
        width: 100vw;

    }
    .founder-info-details {
        text-decoration: none;
        text-align: center;
        padding-top: 30px;
        font-size: 10px;
        font-weight: 600;
        word-spacing: 1px;
        line-height: 20px;
    }
    .text-big {
        font-size: 14px;
        padding-top: 40px;
        font-family: comic sans ms;
    }
    .text-small {
        font-size: 16px;
        
    }
    .footer {
        background: rgba(0, 0, 0, 0.7) url('../images/photo\ 7.jpg');
        background-size: cover;
        background-blend-mode: darken;
        height: 100vh;
    }
    #contact{
        text-align: center;
        padding: 50px 0px 20px 0px;
        color: white;
        
    }
    .contact-us-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        width: 40%;
        margin: auto;
    }
    .contact-us-input {
        height: 30px;
        width: 300px;
        border-radius: 4px;
        text-indent: 15px;
        font-size: 18px;
    }
    .contact-us-username-e-mail {
        color: white;
        font-size: 25px;
        padding: 20px 0px 20px 0px;
    }
    #comment{
        height: 80px;
        width: 300px;
        text-indent: 15px;
        border-radius: 4px;
        padding: 10px 0px 00px 0px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        resize: none;
    }
    .button-for-contact-us {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .submit-button {
        background: url('../images/photo\ 4.jpg');
        height: 40px;
        width: 200px;
        border-radius: 10px;
        color: white;
        font-size: 18px;
    }
    .footer-copyright-credit a {
        color: white;
        text-decoration: none;
    }
    .footer-copyright-credit a:hover {
        font-size: 18px;
    }
}